<!DOCTYPE html>
<html dir="ltr" lang="tr-TR">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="widht=device-width, initial-scale=1">
<link href="css/bootstrap.css" rel="stylesheet">

<script src="jq/jquery-3.6.1.js"> </script>
<script src="js/bootstrap.bundle.min.js"> </script>

<title>  </title>

</head>
<body>
    
    <br> <br> <br> 
   <center> <div class="container d-flex justify-content-center"></div>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Başlık</li>
          <li class="list-group-item">
            
            <div class="container">

                <label> Tutar</label>
                <input type="text" class="form-control" id="Tutar"> <br> <br>
                
                    <label> KDV Oranı</label>
                    <select class= "form-select" id="select">
            
                    </select><br> <br>
                    <input type="text" id="sonuc">
                    <br> <br>
                    <div class="alert alert-danger" role="alert" id="sonucuYazdır"> Loading...
		
                    </div>

                </div>
        </li>
        </ul>
      </div></center>


    </div>
                                     
      <script src="js/kdv.js"></script>

</body>


</html>
